<mat-toolbar class="header">
  <a routerLink="/">
    <h1>AirBnB</h1>
  </a>
  <ul class="nav">
    <ng-container *ngIf="(isLoggedIn$ | async) === 1; else admin">
      <li><a (click)="onLogout()">MyBookings</a></li>
      <li><a (click)="onLogout()">LogOut</a></li>
    </ng-container>
    <ng-template #admin>
      <ng-container *ngIf="(isLoggedIn$ | async) === 2; else login">
        <li><a (click)="onLogout()">MyListings</a></li>
        <li><a (click)="onLogout()">LogOut</a></li>
      </ng-container>
      <ng-template #login>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/signup">Sign Up</a></li>
      </ng-template>
    </ng-template>
  </ul>
</mat-toolbar>
