<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <h1>AirBnB</h1>
    <h3 *ngIf="signUpError">{{ signUpError }}</h3>
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input type="text" matInput formControlName="username" required />
      <mat-icon matSuffix>account_circle</mat-icon>
      <mat-error *ngIf="username?.hasError('required')">
        You must enter a username.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" required />
      <mat-icon matSuffix>lock</mat-icon>
      <mat-error *ngIf="password?.invalid">{{
        getPassErrorMessage()
      }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" required />
      <mat-icon matSuffix>email</mat-icon>
      <mat-error *ngIf="email?.invalid">{{ getEmailErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Firstname</mat-label>
      <input type="text" matInput formControlName="firstname" required />
      <mat-icon matSuffix>person</mat-icon>
      <mat-error *ngIf="firstname?.hasError('required')">
        You must enter a firstname.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Lastname</mat-label>
      <input type="text" matInput formControlName="lastname" required />
      <mat-icon matSuffix>person_outline</mat-icon>
      <mat-error *ngIf="lastname?.hasError('required')">
        You must enter a lastname.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Role</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let type of types" [value]="type.value">
          {{ type.viewValue }}
        </mat-option>
      </mat-select>
      <mat-icon matSuffix>gavel</mat-icon>
      <mat-error *ngIf="type?.hasError('required')">
       you must choose a role.
      </mat-error>
    </mat-form-field>
    <button [disabled]="!registerForm.valid" mat-raised-button color="primary">
      Create account
    </button>
  </div>
</form>
